<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Styles/index.css">
    <title>hello</title>
</head>
<body>
    <h1 class="as">hi anjana</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ratione harum provident neque sed iure nostrum, ut aliquam iusto in similique, fuga pariatur esse dolor eaque ea, inventore beatae. A.</p>

    <script src="./Scripts/index.js"></script>
</body>
</html>